<div id="mainPanel" class="mainPanel">
    <div class="mainImage">
        <img src="img/Mainpage.png"/>
    </div>

    <div class="navImages">
        <a href="">
            <img class="bottom" src="img/ArchLogo_1.png"/>
            <img class="top" src="img/Logo - Arch.png"/>
        </a>
        <a href="">
            <img class="bottom" src="img/DigiLogo_1.png"/>
            <img class="top" src="img/Logo - Digi Render.png"/>
        </a>
        <a href="">
            <img class="bottom" src="img/PrecedentLogo_1.png"/>
            <img class="top" src="img/Logo - Scrap.png"/>
        </a>
        <a href="">
            <img class="bottom" src="img/CVLogo_1.png"/>
            <img class="top" src="img/Logo - CV.png"/>
        </a>
    </div>

</div>